:root{
    /*color*/
    --red: #FF3D00;
    --black: #1E1E1E;
    --grayDark: #4C4C4C;
    --gray: #F6F6F6;
    --white: #FFFFFF;

    /*font-family*/
    --fontMain: 'Literata', serif;
    --font1: 'Diphylleia', serif;
    --font2: 'Dancing Script', cursive;
    --font3: 'Pacifico', cursive;
    --font4: 'Caveat', cursive;
    --font5: 'Satisfy', cursive;
}

p {
    margin: 0;
}

.main {
    height: 3000px;
    /*background-image: url("../src/images/background.png");*/
    /*background-size: 40%;*/

    font-family: var(--fontMain);
    font-size: 1.4rem;
    color: var(--black);
}